:root {
  --dark-blue: #3f51b5;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #e3f2fd;
}
.page-inner-container {
  width: 100%;
  max-width: 500px;
  background: white;
  height: 100%;
}

.page-content {
  display: flex;
  padding: 0 15px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-name {
  margin-bottom: 0;
}

.user-id {
  margin: 0;
  font-weight: 400;
}

.all-users-button {
  position: absolute;
  left: 15px;
  top: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background: #2196f3;
  border-radius: 1px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  transition: all 0.2s;
}

.all-users-button:hover {
  background: #2196f3bb;
}

.user-avatar {
  vertical-align: middle;
  width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-bottom: 10px;
}

.email-status {
  font-size: 12px;
  margin-left: 8px;
}

.email-status-verified {
  color: #00a650;
}
.email-status-unverified {
  color: #ff0000;
}

.user-info-item {
  width: 100%;
  margin-bottom: 15px;
}

.user-info-label {
  color: #666;
  margin-bottom: 5px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.user-info-value {
  margin-top: 5px;
}

.user-skills {
  display: flex;
}

.user-skill {
  background: var(--dark-blue);
  color: #fff;
  border-radius: 8px;
  padding: 4px;
  margin-right: 5px;
}

.email-label {
  display: flex;
  align-items: center;
}

.users-table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.users-table-container {
  overflow-y: scroll;
  height: 500px;
  width: 100%;
}

.users-table-head {
  top: 0;
  position: sticky;
  background: var(--dark-blue);
  color: #fff;
}

.users-table-row:hover {
  background: #eee;
  cursor: pointer;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--dark-blue);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--dark-blue) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
